#container{
    background-color: black;
}
#h1{
    background-color: rgb(161, 62, 78);
    color: white;
    padding: 20px;
}
h2{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
  
  .example-full-width {
    width: 60%;
    margin-top: 20px;
  }
  .column{
    display: flex;
    margin-right: 50px;
  }
  .data{
    margin-right: 20px;
    margin-top: 20px;
  }
  .textbox{
    width: 450px;
  }
 .textbox1{
    width: 420px;
 }
  